<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SwagSMP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @font-face {
            font-family: 'MyFont';
            src: url('/MinecraftBold-nMK1.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        .text-border {
            -webkit-text-stroke: 1px black; /* Stroke width and color */
            text-shadow:
                    1px 1px 0 black,
                    -1px 1px 0 black,
                    1px -1px 0 black,
                    -1px -1px 0 black; /* Optional: boost cross-browser rendering */
        }
    </style>
</head>
<body class="m-0 p-0 w-screen h-screen overflow-hidden relative font-['MyFont']">

<img
        src="/img/background.png"
        alt="Background"
        class="absolute top-0 left-0 w-screen h-screen object-cover pointer-events-none blur-sm select-none -z-10"
/>

<div class="flex items-center justify-start w-screen h-screen flex-col pt-12">
    <h1 class="text-white text-4xl md:text-6xl font-bold drop-shadow-lg text-border text-center mb-8">
        Welcome to the <br>SwagSMP
    </h1>

    <div class="text-center flex items-center flex-col">
        <div class="bg-black px-2 rounded-md bg-opacity-50 mb-3">
            <p class="text-white text-xl">To join you first need to be a subscriber to <br>
                <a class="text-2xl text-purple-400" href="https://www.twitch.tv/swag_charhar">swag_charhar</a> or
                <a class="text-2xl text-purple-400" href="https://www.twitch.tv/unfunnyttv">unfunnyttv</a>
                <br>After this press "login with twitch"</p>
        </div>
            <div>
                <a href="https://id.twitch.tv/oauth2/authorize?client_id=<%= client_id %>&redirect_uri=<%= redirect_uri %>&response_type=code&scope=user:read:subscriptions"
                   class="w-full text-center rounded-md bg-purple-600 text-white px-4 py-2 text-sm font-bold hover:bg-purple-700 transition block mb-4">
                    Login with Twitch
                </a>
            </div>

    </div>
</div>
</body>

</html>
